
  <ion-side-menus>
      <!-- Left menu -->
    <ion-side-menu-content ng-controller="AppController">
      <ion-nav-bar class="bar-assertive">

        <ion-nav-back-button class="button-icon ion-chevron-left" ng-click="appGoBack()"></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>

      </ion-nav-bar>
      <ion-nav-view name="appContent"></ion-nav-view>
      <ion-nav-view name="appSignUp"></ion-nav-view>
      <ion-nav-view name="appSignIn"></ion-nav-view>
    </ion-side-menu-content>



    <ion-side-menu side="left">
      <ion-header-bar class="bar-assertive">
                <h1 class="title">Functional Menu</h1>
      </ion-header-bar>
      <ion-content>
                <ion-cart ng-controller='SideMenuController'></ion-cart>
      </ion-content>
    </ion-side-menu>


  </ion-side-menus>
