
  <ion-side-menus>
      <!-- Left menu -->
    <ion-side-menu-content ng-controller="AppController">
      <ion-nav-bar class="bar-assertive">

        <ion-nav-back-button class="button-icon ion-chevron-left" ng-click="appGoBack()"></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>

      </ion-nav-bar>
        <!-- view is required -->
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>



    <ion-side-menu side="left" ng-controller="AppSideMenuController" ng-model='checkValue'>
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Menu</h1>
      </ion-header-bar>
      <ion-content>
        <!-- ion-cart ng-controller='SideMenuController'></ion-cart -->
        <ion-list>
          <ion-item menu-close href="#/app/home">
            Home
          </ion-item>
          <ion-item menu-close href="#/app/loggedOut/signUp">
            Sign Up
          </ion-item>
          <ion-item menu-close href="#/app/loggedOut/signIn">
            Sign In
          </ion-item>
          <div show-when-state="app.loggedIn">
            <ion-item menu-close href="#/app/loggedIn/userInfo">
             User Info
            </ion-item>
          </div>
          <ion-item menu-close href="#/app/settings">
            Settings
          </ion-item>
          <ion-item menu-close href=''>
            Logged In: {{checkValue}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>


  </ion-side-menus>
