
  <ion-side-menus>
    <ion-side-menu-content ng-controller="AppController">
      <ion-nav-bar class="bar-assertive">

        <ion-nav-back-button class="button-icon ion-chevron-left" ng-click="appGoBack()"></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>

      </ion-nav-bar>
        <ion-nav-view name="home"></ion-nav-view>
    </ion-side-menu-content>



    <ion-side-menu side="left" ng-controller="AppSideMenuController" >
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Menu</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item menu-close href="#/app/loggedOut/home">
            Home
          </ion-item>
          <ion-item menu-close href="#/app/loggedOut/signOff">
           Sign Off
          </ion-item>
          <ion-item menu-close href="#/app/loggedOut/signIn">
            Sign In
          </ion-item>
          <!-- div show-when-state="app.loggedIn" -->
            <ion-item menu-close href="#/app/loggedIn/userInfo">
             User Event Info
            </ion-item>
          <!-- /div -->
          <ion-item menu-close href="#/app/loggedOut/settings">
            Settings
          </ion-item>
          <ion-item cache-view="false" ng-controller="refresh_control" ng-model='checkValue'>
          Sign-On Status: {{checkValue}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>


  </ion-side-menus>
