<ion-nav-bar class="bar-assertive">

  <ion-nav-back-button class="button-icon ion-chevron-left" ng-click="appGoBack()"></ion-nav-back-button>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="fcn_sys"></ion-nav-view>
  <ion-view title="System Configuration" align="center">

    <ion-content padding="true">


      <ion-list>
        <ion-item align="left" ng-repeat="function_sysconflist in function_sysconflists" ng-click="selectConfigItem(function_sysconflist)" href="#/app/loggedIn/functions/{{function_syconflist.id}}">
              {{function_sysconflist.title}}
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-view>
