<ion-nav-bar class="bar-assertive">

  <ion-nav-back-button class="button-icon ion-chevron-left" ng-click="appGoBack()"></ion-nav-back-button>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-view title="Vertex 2.3.x Functions" align="center" name="functions">

    <ion-content padding="true">

      <ion-list>
        <ion-item align="left"  ng-repeat="functionlist in functionlists" ng-click="selectItem(functionlist)" href="#/app/loggedIn/{{functionlist.id}}">
              {{functionlist.title}}
        </ion-item>

      </ion-list>


      <!-- /ion-Home -->
    </ion-content>
  </ion-view>
