<ion-nav-bar class="bar-assertive">

  <ion-nav-back-button class="button-icon ion-chevron-left" ng-click="appGoBack()"></ion-nav-back-button>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-view title="Event Info" align="center">
    <ion-content padding="true">

      <div class="list card">
        <div class="item" align="left" ng-model='serviceResponse'>
          id: {{serviceResponse.id}}<br></br>
          eventId: {{serviceResponse.eventId}}<br></br>
          dtStart: {{serviceResponse.dtStart}}<br></br>
          marketContext: {{serviceResponse.marketContext}}<br></br>
          duration: {{serviceResponse.duration}}<br></br>
          signals: [ <br></br>
          <blockquote>type: {{serviceResponse.signals[0].type}}<br></br>
                      interval: [  <br></br>
                      <blockquote>duration: {{serviceResponse.signals[0].intervals[0].duration}}<br></br>
                                  value: {{serviceResponse.signals[0].intervals[0].value}}<br></br>
                      ]</blockquote><br></br>
                      id: {{serviceResponse.signals[0].id}}<br></br>
                      name: {{serviceResponse.signals[0].name}}<br></br>
                      curValue: {{serviceResponse.signals[0].curValue}}<br></br>
          </blockquote><br></br>
          ]<br></br>
          cancelled: {{serviceResponse.cancelled}}<br></br>
          testEvent: {{serviceResponse.testEvent}}<br></br>
          responseRequired: {{serviceResponse.responseRequired}}<br></br>
          target: [<br></br>
          <blockquote>resourceIDs: {{serviceResponse.target[0].resourceIDs}}<br></br>
                      venIDs: {{serviceResponse.target[0].eventIDs}}<br></br>
          </blockquote><br></br>
          ]<br></br>
          participationStatusTs: {{serviceResponse.participationStatusTs}}<br></br>
          modNumber: {{serviceResponse.modNumber}}<br></br>
          vertex ID: {{serviceResponse.vertex}}<br></br>
          endTs: {{serviceResponse.endTs}}<br></br>
          startTs: {{serviceResponse.startTs}}<br></br>
          drProgram: {{serviceResponse.drProgram}}<br></br>
          rampUpStartTs: {{serviceResponse.rampUpStartTs}}<br></br>
          recoveryEndTs: {{serviceResponse.recoveryEndTs}}<br></br>
          accountParticipationKw: {{serviceResponse.accountParticipationKw}}<br></br>
          participationStatus: {{serviceResponse.participationStatus}}<br></br>
          createdTs: {{serviceResponse.createdTs}}
        </div>
      </div>
</ion-content>
</ion-view>
